/* Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}


body 
{
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	background-color: #FCFCFC;
	color: #2D2D2D;
	font-size: 17px;
	line-height: 22px;
}

div#page 
{
	margin: 0 auto;
	width: 920px;
	background-color: #FCFCFC;;
}

header 
{	
	margin: 42px auto;
	display: block;
	text-align: center;
}

h1 
{
	margin: 15px;
	padding: 15px;
	font-size: 55px;
	font-weight: bolder;
}

h2
{
	margin: 42px 0 10px 0;
	font-size: 32px;
	font-weight: bold;
}

section.chapter>p
{
	display: block;
	text-align: justify;
	margin: 0 0 17px 0;
}

footer
{
	text-align: center;
	font-size: 12px
}

a.reference
{
	color: #9E9E9E;
	border-bottom: dotted 1px;
	padding: -8px;
	text-decoration: none;
	vertical-align: text-top;
}

a.reference:hover
{
	color: #9E9E9E;
	border-bottom: 0px;
}

div#abparams-sensi
{
	width: 450px;
	display: inline-table;
}

div#abparams-sensi>canvas
{
	width: 450px;
}

figcaption
{
	font-style: italic;
	text-align: center;
	font-size: 13px;
	padding: 0 30px 0 30px;
}

figure
{
	margin: 10px 0 20px 0;
}




